node_modules
.DS_Store
node_modules
dist/js/build.js
dist/build.css
yarn-error.log
npm-debug.log

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Project files and folders
logs
bookImages
backups